body {
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: "Amazon Ember", Arial, sans-serif;
}

.header {
  background-color:black;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.footer{
  background-color: black;
  font-size: 13px;
  font-weight: bold;
  color: white;
  margin: 0;
  height: 1.5cm;
}

.primary-navbar {
  height: 1.5cm;
  display: flex;
  align-items: center;
  gap: 45px;
  width: 100%;
}

.header-menu{
  display: flex;
}
.header-menu p{
  padding-top: 4px;
  padding-left: 1px;
}

.logo {
  width: 100px;
  height: auto;
}

.address-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.delivery-text {
  font-size: 14px;
  color: #cccccc;
  margin: 0;
  line-height: 1;
}

.update-address {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 1;
}

.cart{
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 1;
}

.search-container {
  flex-grow: 1;
  max-width: 480px;
  margin: 0 8px;
  display: flex;
}

.search-bar {
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font-size: 14px;
}


.account-container, .orders-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 8px;
}

.greeting {
  font-size: 14px;
  color: #cccccc;
  margin: 0;
  line-height: 1;
}

.account-link, .returns, .orders {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 1;
}

.cart-container{
  display: flex;
}

.cart{
  padding-top:15px;

}

.cart-container .cart-icon {
  width: 35px;
  height: 35px;
}

.secondary-navbar {
  background-color: #232f2e;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 45px;
  width: 100%;
  margin:0;
}
.adv{
  width: 300px;
  height: 35px;
}
.content{
  font-size: 13px;
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 1.5;
}
.secondary-navbar a{
  text-decoration: none;
}
.primary-navbar a{
  text-decoration: none;
}


.homepage{
  background-color: #E3E6E6;
}
 .carousel{
  margin-bottom: -250px;
  /* z-index: -1; */
}
.homepage-box{
  width: 310px;
  background-color: #fff;
  border-radius: 5px;
}
.homepage-box h3{
  font-size: 22px;
  font-weight: bold;
}
.homepage-box p{
  font-size: 13px;
}
.homepage-header{
  padding: 10px;
}
.homepage-boxes{
  margin-top:2px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.Inner-homepage-box{
  width: 45%;
  height: 45%;
}
.Outer-homepage-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-images{
  width: 100%;
}

.second-homepage-box{
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}

.about-text{
  margin:0;
}

.products{
  background-color: #E3E6E6;
}

.blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 25px;
  padding-left:   5px;
  /* padding-right: 15px; */
}

.heart-icon{
  margin-top: -300px;
  position: relative;
  margin-left: 200px;
  z-index: 10;
  transition: color 0.3s ease-in-out;
}

.red{
  color: rgb(225, 5, 5) !important;
}

.pink{
  color: rgb(87, 209, 237) !important;
}

.block{
  height: 300px;
  width: 18%;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 3px;
  position: relative;
  margin-left: 20px;
  padding-top: 5px;
}

.block p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding-left: 5px;
}

.img-prods{
  height: 150px;
  width: 100%;
}

.button-div{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.rating-div{
  display: flex;
}

.cartpage{
  width: 100%;
}

.header-cartpage{
  padding-top:20px;
}

.cartpage .Outerbag{
  width: 70%;
  /* display: flex;
  flex-wrap: wrap; */
  margin-top:20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
  overflow-y: auto;
}

.cartpage .bag{
  border: 2px solid rgb(153, 151, 151);
  /* width: 400px; */
  height: 220px;
  display: flex;
  margin-bottom: 20px;
  background-color: white;
}

.cartpage .cover-div{
  width: 40%;
  height: 100%;
  padding: 10px;
}

.cartpage .cover{
  width: 100%;
  height: 100%;
}

.cartpage .content-div{
  width: 67%;
  
}

.price-tag{
  gap:10px;
}

.lines-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

.lines-1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

.buynowdiscard{
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding-right: 20px;
}

.final-price-bag{
  background-color: white;
  position: fixed;
  border: 2px solid rgb(193, 191, 191);
  width: 25%;
  margin-top: 80px;
  margin-bottom: 20px;
  right:20px;
  height: 550px;
}

.outer-outer-bag{
  display: flex;
}

.list-brand{
  display: flex;
  margin-bottom : 10px;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

.list-brand-price{
  padding-top: 10px;
}

.list-brand-title p{
  color: #838282;
  margin-top: 0px;
}

.sub-total{
  padding: 15px;
  position: absolute;
  bottom: 0;
}

.sub-total-price{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.center{
  align-items: center;
  margin-top: -100px;
}

.center .Option{
  width: 300px;
}

.center p{
  margin-bottom: 2px;
}


.login {
  margin-top:-100px;
  margin-left: 450px;
  align-items: center;
  justify-content: center;
  text-align:center;
  height: 100vh;
  display: flex;
  flex-direction: column;
} 

.signup{
  margin: 0;
  margin-top: -50px;
  align-items: center;
  justify-content: center;
  text-align:center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.additional-details{
  width: 400px;
  margin-top: 80px;
}

.signup .Outerbox{
  width: 400px;
  height: 400px;
  border: 2px solid rgb(163, 160, 160);
  border-radius: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.resetbutton{
  width: 80px !important;
}

.Outerbox1{
  margin-top: 100px;
  width: 400px;
  height: 350px;
  border: 2px solid rgb(146, 142, 142);
  border-radius: 20px;
  /* font-weight: bold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 20px;
}

.login , .signup{
  font-family:'Times New Roman', Times, serif;
}


.login .box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 100vh;
}
.signup .box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 100vh;
}

.login , .singup .box input{
  width: 400px;
}

.signup-header{
  margin-top: 10px;
}

.itemDetails-image{
  width: 400px;
  height: 400px;
}

.details-block{
  /* margin-bottom: 232px; */
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.details-centerblock{
  border: 4px solid rgb(120, 116, 116);
  margin-top: -100px;
  margin-left: 100px;
  margin-right: 100px;
}

.details-content{
  padding-top: 50px;
}

.backtoback{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-top: 20px;
}

.account *{
  justify-content:space-between;
  margin:5px;
  /* padding-bottom: 10px; */
}

.imgg{
  width: 80px;
}

.imggg{
  height: 80px;
  width: 90px;
}
.accountpage{
  margin-left: 180px;
  margin-top: 60px;
  margin-bottom: 150px;
}

.userdetails{
  margin-left: 50px;
  line-height: 13px;
  padding-bottom: 20px;
}
.profile{
  margin-left: 500px;
  margin-top: -20px;
}
/* .container-accountsections{
  margin-left: -100px;
} */

.detailsbar{
  display: flex;
}
.accounts-header{
  display: flex;
  justify-content: flex-start;
  /* margin-left: -100px; */
}
.logout-section{
  align-content: end;
  /* width: 100%; */
  position: relative;
  margin-right: 150px;
}
.logoutbtn{
  right:0;
  position: absolute;
}
.accounts-block{
  width: 320px;
}
.accounts-block p{
  font-size: 14px;
  /* line-height: 10px; */
  margin-top: -7px;
}
/* Responsive layout for homepage boxes and product grid */
@media (max-width: 1200px) {
  .block {
    width: 23%;
  }
}

@media (max-width: 992px) {
  .homepage-boxes {
    flex-direction: column;
    align-items: center;
  }

  .block {
    width: 45%;
  }

  .second-homepage-box {
    padding: 20px;
  }

  .blocks {
    justify-content: center;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .primary-navbar, .secondary-navbar {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .search-container {
    max-width: 90%;
  }

  .block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .homepage-boxes {
    height: auto;
  }

  .cartpage .Outerbag, .final-price-bag {
    width: 100%;
    margin: 0 auto;
    position: static;
  }

  .login, .signup, .MyAccount {
    margin: 0;
    padding: 20px;
    width: 100%;
  }

  .Outerbox, .Outerbox1 {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .primary-navbar, .secondary-navbar {
    flex-direction: column;
  }

  .logo {
    width: 80px;
  }

  .block {
    width: 100%;
  }

  .itemDetails-image {
    width: 100%;
    height: auto;
  }

  .details-centerblock {
    margin-left: 10px;
    margin-right: 10px;
  }

  .Option-box {
    flex-direction: column;
    align-items: center;
  }

  .Option {
    width: 90%;
  }

  .circle-image {
    width: 80px;
    height: 80px;
  }
}
/* === Responsive Primary Header (Header.js) === */

@media (max-width: 992px) {
  .primary-navbar {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
  .logo-container.img{
    border:black;
  }
  .logo-container,
  .address-container,
  .account-container,
  .orders-container,
  .cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .search-container {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .search-bar {
    flex: 1;
    min-width: 0;
  }

  .greeting,
  .account-link,
  .returns,
  .orders,
  .cart {
    font-size: 14px;
    text-align: center;
  }

  .cart-icon {
    width: 30px;
  }

  .logo {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .primary-navbar {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .address-container {
    text-align: center;
  }

  .greeting,
  .account-link,
  .returns,
  .orders,
  .cart {
    font-size: 12px;
  }

  .logo {
    width: 80px;
  }
}


/* === Responsive Secondary Header (HeaderS.js) === */

@media (max-width: 992px) {
  .secondary-navbar {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  .secondary-navbar .content {
    font-size: 14px;
    padding: 5px 10px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .adv {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .secondary-navbar {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
  }

  .secondary-navbar .content {
    font-size: 13px;
  }

  .adv {
    max-width: 90%;
    height: auto;
  }
}
/* Main product grid container */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px; /* space between product cards */
  padding: 20px;
  margin: auto;
  max-width: 1200px;
}

/* Individual product card */
.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;  /* adjust height here */
  width: 100%;    /* width from grid layout */
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Product image */
.product-card img {
  height: 150px; /* adjust as needed */
  object-fit: contain;
  margin-bottom: 10px;
}

/* Title, price, button */
.product-card h4 {
  font-size: 16px;
  margin: 8px 0;
  text-align: center;
}

.product-card p {
  font-weight: bold;
  color: #b12704;
  margin: 5px 0;
}

.product-card button {
  margin-top: auto;
  background-color: #ffd814;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.deckcard{
  height: 570px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.card-img-top {
  height: 250px;
  object-fit: contain;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.clamp-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em; /* Approximately 2 lines */
}
.clamp-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em; /* 2 lines approx */
  line-height: 1.5em;
  white-space: normal;
}

@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 15px;
    padding: 10px;
  }

  .product-card {
    height: 300px;
    padding: 10px;
  }

  .product-card img {
    height: 120px;
  }
}
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 1rem;
}
.carousel,
.carousel-inner {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.header,
.secondary-navbar {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.wishlist-ad-top-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.wishlist-ad-box {
  background: white;
  border: 2px solid #0073e6;
  padding: 12px 16px;
  border-radius: 10px;
  width: 260px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: slideInRight 0.3s ease-in-out;
  position: relative;
}

.wishlist-ad-box img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-top: 6px;
}

.wishlist-ad-box h5 {
  margin: 0 0 4px 0;
}

.wishlist-ad-box p {
  font-size: 14px;
  margin: 0;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
